<div class="{{inputClass || 'ac_input_box'}}" ng-class="{false: 'ac_input_error'}[!(error)]" style="text-align: left;">
  <div class="ac_input_label_dummy ellipsis" ng-show="label">
    {{label}}
  </div>

  <div>
    <input type="text" ng-model="term" placeholder="{{placeholder}}" ng-change="debouncedFetchSuggestions()" ng-blur="onBlur()"
      ng-custom-if="!(selected_tags) || (multiple && selected_tags.length < limit)" class="js_target_elem loading" ng-focus="debouncedFetchSuggestions()"
      ac-event="{'keyup': 'onKeyUp($event)'}" />

    <span class="nicon-lens ac_search_lens"
      ng-custom-if="inputClass && inputClass.indexOf('search') != -1 && (!(selected_tags) || (multiple && selected_tags.length < limit))"></span>

    <div style="position: absolute;width: 20px;right: 8px;top: 0px;height: 100%;text-align: center;font-size: 0px;" ng-custom-if="fetching">
      <div class="vertical_middle"></div>
      <div style="display: inline-block;vertical-align: middle;" class="loader-green4">
        <div class="loader-box loader_box1"></div>
        <div class="loader-box loader_box2"></div>
        <div class="loader-box loader_box3"></div>
        <div style="clear: both;"></div>
      </div>
    </div>

    <div class="ac_input_label ellipsis" ng-show="label">
      {{label}}
    </div>
  </div>

  <div class="selected_token" ng-custom-if="selected_tags && !(multiple)" style="max-width: 100%;">
    <div class="ellipsis" style="padding-right: 16px;">{{selected_tags.name}}</div>
    <div style="position: absolute;right: 8px;top: 0px;height: 100%;">
      <div class="vertical_middle"></div>
      <span class="nicon-cross-alt" ng-click="removeTag()" style="font-size: 8px;display: inline-block;vertical-align: middle;cursor: pointer;"></span>
    </div>
  </div>

  <div ng-custom-if="selected_tags.length > 0 && multiple">
    <div class="text_body" ng-repeat="selected_tag in selected_tags" style="border: 1px solid #b6b9bb;padding: 8px;border-radius: 3px;float: left;margin-right: 8px;margin-top: 8px;max-width: 100%;">
      <div class="ellipsis" style="padding-right: 16px;">{{selected_tag.name}}</div>
      <div style="position: absolute;right: 8px;top: 0px;height: 100%;">
        <div class="vertical_middle"></div>
        <span class="nicon-cross-alt" ng-click="removeTag($index)" style="font-size: 8px;display: inline-block;vertical-align: middle;cursor: pointer;"></span>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>


  <div class="js_suggested_items" ng-show="suggestions_dropdown" style="max-height: 300px;overflow: auto;background-color: #fff;z-index: 99;box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);font-size: 0px;">
    <div ng-custom-if="suggestions_dropdown">
      <div class="text_body" ng-custom-if="items.length == 0" style="padding: 8px;">
        No Results Found
      </div>
      <div ng-repeat="item in items" class="suggested_item" ng-class="{true: 'selected'}[selected_index == $index]" style="padding: 10px 16px;cursor: pointer;" ng-mousedown="selectTag(item)"  ng-mouseover="highlightTag($index)">
        <div style="height: 0px;overflow: hidden;">
          {{item_type = itemType(item.type)}}
        </div>

        <div ng-switch on="item_type">

          <div ng-switch-default class="text_body ellipsis" title="{{item.name}}">
            {{item.name}}
          </div>

          <div ng-switch-when="location" class="text_body ellipsis">
            <span class="nicon-round-pin" style="font-size: 14px;"></span>
            <span style="padding-left: 12px;" title="{{item.name}}">
              {{item.name}}
            </span>
          </div>

          <div ng-switch-when="institution">
            <div style="height: 32px;width: 32px;text-align: center;display: inline-block;vertical-align: middle;" ng-custom-if="item.logo_url">
              <div class="vertical_middle"></div>
              <img ng-src="{{item.logo_url}}" style="display: inline-block;max-height: 100%;max-width: 100%;vertical-align: middle;" />
            </div>
            <div style="height: 32px;width: 32px;text-align: center;background: #e7eceb;border-radius: 16px;display: inline-block;vertical-align: middle;" ng-custom-if="!(item.logo_url)">
              <div class="vertical_middle"></div>
              <span class="nicon-university" style="font-size: 14px;display: inline-block;vertical-align: middle;" ng-custom-if="item.type == 'Institution::College' || item.type == 'Institution::School'"></span>
              <span class="nicon-apartment-fancy" style="font-size: 14px;display: inline-block;vertical-align: middle;" ng-custom-if="item.type == 'Institution::Company' || item.type == 'Institution'"></span>
            </div>
            <div style="padding-left: 12px;width: calc(100% - 32px);display: inline-block;vertical-align: middle;">
              <div class="text_body ellipsis" title="{{item.name}}">
                {{item.name}}
              </div>
              <div class="text_caption_light">
                {{item.ref_location}}
              </div>
            </div>
          </div>

          <div ng-switch-when="user">
            <div style="height: 32px;width: 32px;text-align: center;display: inline-block;vertical-align: middle;border-radius: 16px;overflow: hidden;" class="{{bgClass(item.type)}}">
              <div class="vertical_middle"></div>
              <img ng-src="{{item.avatar}}" ng-custom-if="item.avatar" style="display: inline-block;max-height: 100%;max-width: 100%;vertical-align: middle;" />
              <div style="display: inline-block;vertical-align: middle;" ng-custom-if="!(item.avatar)">
                <span class="nicon-apartment-fancy" style="font-size: 14px;" ng-custom-if="item.type == 'company'"></span>
                <span class="nicon-university" style="font-size: 14px;" ng-custom-if="item.type == 'more_education'"></span>
                <span class="nicon-round-pin" style="font-size: 14px;" ng-custom-if="item.type == 'current_city'"></span>
                <span style="font-size: 14px;" ng-custom-if="item.type == 'user_type'">U</span>
                <span style="font-size: 14px;" ng-custom-if="item.type == 'course'">D</span>
                <span style="font-size: 14px;" ng-custom-if="item.type == 'branch'">B</span>
                <span style="font-size: 14px;" ng-custom-if="item.type == 'campus'">C</span>
                <span style="font-size: 14px;" ng-custom-if="item.type == 'joining_year'">JY</span>
                <span style="font-size: 14px;" ng-custom-if="item.type == 'graduation_year'">GY</span>
                <span style="font-size: 14px;" class="nicon-three-people" ng-custom-if="item.type == 'open_for'"></span>
              </div>
            </div>
            <div style="padding-left: 12px;width: calc(100% - 32px);display: inline-block;vertical-align: middle;" class="text_body ellipsis" title="{{item.name}}">
              {{item.name}}
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="ac_error_message" ng-show="error">
    {{error}}
  </div>
  <div class="ac_helper_message" ng-show="!error && helper">
    {{helper}}
  </div>
</div>
