<div style="">
  <img src="/images/banner.png" style="max-width: 100%;display: block;" />
  <div style="position: absolute;height: 100%;top: 0px;left: 0px;width: 100%;text-align: center;">
    <div class="vertical_middle"></div>
    <div style="display: inline-block;vertical-align: middle;">
      <div style="font-size: 96px;color: #fff;line-height: 131px;">
        WIMWIANS
      </div>
      <div style="height: 1px;margin: 0px 80px;background: #00c4b5;">
      </div>
      <div style="font-weight: 600;font-size: 24px;line-height: 32px;color: #fff;padding-top: 26px;">
        Welcome back to IIM Ahmedabad
      </div>
    </div>
  </div>
</div>
