<div style="max-width:1280px;margin:auto;">
  <div style="background-color:rgb(243, 244, 245);">
    <div style="padding:48px 8px 32px 16px;max-width:1140px;margin:auto;">
      <a href="/">
        <img src="images/logo.png" style="max-width:156px;display:inline-block;vertical-align:middle;" />
        <span style="color:rgb(58, 63, 66);font-size:32px;display:inline-block;vertical-align:middle;
            line-height:44px;padding-left:16px;font-weight:700;">
            StockWel
        </span>
      </a>
      <div style="float: right;">
        <div style="display:inline-block;vertical-align:middle;">
          <div class="hide_below_720" style="padding-top:12px;">
            <div class="menu_item" style="font-weight:600;font-size: 14px;display: inline-block;color:#707274;padding-right: 24px;">
              <a href="/privacy.html">Privacy</a>
            </div>
            <div class="menu_item" style="font-weight:600;font-size: 14px;display: none;color:#707274;padding-right: 24px;">
              <a href="/clients">Terms of Use</a>
            </div>
            <div class="menu_item" style="font-weight:600;font-size: 14px;display: inline-block;color:#707274;padding-right: 24px;">
              <a href="https://www.almaconnect.com/aboutus">About</a>
            </div>
            <div class="menu_item" style="background:rgb(84, 139, 250);font-weight:700;font-size: 12px;display: inline-block;
                color:#fff;padding: 8px 12px;border-radius:2px;margin-right:24px;">
              <a href="/aboutus">Download</a>
            </div>
          </div>
        </div>
      </div>

      <div style="clear: both;"></div>
    </div>

    <div style="max-width:1140px;margin:auto;text-align:center;padding:80px 8px 0px;">
      <div class="mobile-container">
        <img src="images/Group 245.png"/>
      </div>

      <div style="display:inline-block;vertical-align:middle;max-width:500px;color:rgb(58, 63, 66);font-size:32px;font-weight:500;text-align:left;">
        <div>
          <span style="color:rgb(58, 63, 66);font-size:32px;line-height:44px;font-weight:700;">Discover Stocks</span> that your
        </div>
        <div>
          <span style="color:rgb(58, 63, 66);font-size:32px;line-height:44px;font-weight:700;">Trusted Friends </span> are trading on
        </div>
        <div style="color:rgb(112, 114, 116);font-size:18px;line-height:30px;padding-top:16px;">
          An app that helps you sync your trades real - time & further connect with your friends over their like never before
        </div>
        <div style="padding-top:52px;">
          <div style="display:inline-block;">
            <img src="images/Google.png"/>
          </div>
          <div style="display:inline-block;margin-left:16px;">
            <img src="images/Apple.png"/>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="footer" style="background:#fff;max-width:1140px;margin:auto;padding:80px 8px 0px;">
    <div style="text-align:center;">
      <img ng-src="images/Group 7.png" style="max-width: 256px;" />
    </div>
    <div style="border-top: 1px solid #e7eceb;height:1px;margin-top:-3px;"></div>
    <div style="padding:24px 0px;">

      <div class="left_box">
        <div style="padding-right:24px;display:inline-block;">
          <a href="/">
            <img src="images/logo.png" style="max-height:24px;max-width:24px;"></img>
            <span style="color:rgb(58, 63, 66);font-size:16px;display:inline-block;vertical-align:middle;padding-left:8px;font-weight:700;">
              StockWel
            </span>
          </a>
        </div>

        <div class="menu_item" style="padding-right:24px;padding-top:2px;display:inline-block;">
          <a href="/privacy.html" class="text_body_light">Privacy</a>
        </div>

        <div class="menu_item" style="padding-top:2px;display:inline-block;">
          <a href="https://www.almaconnect.com/aboutus" class="text_body_light">About</a>
        </div>
      </div>

      <div class="copyright_box">
        <div style="color:rgb(58, 63, 66);font-size:12px;letter-spacing:-0.2px;">
          © 2017 Alma Connect Solutions Pvt. Ltd.
        </div>
      </div>


      <div style="clear: both;"></div>


    </div>
  </div>


</div>
