<div>
  <img src="/images/banner.png" style="max-width: 100%;display: block;" />
  <div style="position: absolute;height: 100%;top: 0px;left: 0px;width: 100%;text-align: center;">
    <div class="vertical_middle"></div>
    <div style="display: inline-block;vertical-align: middle;">
      <div style="font-size: 6.67vw;color: #fff;line-height: 1.37em;">
        WIMWIANS
      </div>
      <div style="height: 1px;margin: 0px 80px;background: #00c4b5;">
      </div>
      <div class="text1">
        Welcome back to IIM Ahmedabad
      </div>
    </div>
  </div>
</div>

<div style="min-height: 240px;text-align: center;">
  <div style="position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;background: #3a3f42;">
  </div>
  <div style="position: absolute;bottom: 0px;left: 0px;width: 100%;">
    <img src="/images/logo_copy.png" style="max-width: 100%;display: inline-block;" />
  </div>

  <div style="text-align: center;font-size: 0px;">
    <div class="vertical_middle" style="min-height: 240px;"></div>
    <div style="display: inline-block;vertical-align: middle;margin: 0px 16px;">
      <div class="text2">
        IIMA is proud to have produced over
        <span style="color: #fff;">33,000</span>
        leaders across different walks of life.
      </div>
      <div style="height: 1px;margin: 16px 80px;background: #00c4b5;">
      </div>
      <div class="text3">
        This platform aims to bring them
        <span style="color: #fff;">together</span>
        and
        <span style="color: #fff;">collaborate</span>.
      </div>
    </div>
  </div>
</div>

<div style="text-align: center;">
  <div style="margin: 72px 8px 0px;display: inline-block;padding: 10px 15px;font-size: 0px;" class="box-shadow-content">
    <div style="display: inline-block;width: 100%;max-width: 460px;vertical-align: top;">
      <img src="/images/collage.png" style="max-width: 100%;display: block;" />
    </div>
    <div style="display: inline-block;width: 100%;max-width: 460px;vertical-align: top;padding: 46px 40px;text-align: center;">
      <div style="font-size: 24px;line-height: 32px;color: #707274;">
        <span style="color: #000;font-weight: 700;">Search</span>
        and
        <span style="color: #000;font-weight: 700;">network</span>
        with alums across programs and batches
      </div>
      <div class="ac_button" style="margin-top: 16px;padding: 16px;font-size: 18px;line-height: 32px;">
        Login
      </div>
    </div>

  </div>
</div>

<div style="max-width: 966px;margin: auto;padding: 32px 8px 0px;">
  <div class="main_column box-shadow-content" style="margin-top: 32px;padding: 24px;">
    <div style="padding-bottom: 24px;">
      <div style="float: left;">
        <div style="font-size: 14px;line-height: 20px;color: #000;font-weight: 700;text-transform: uppercase;">
          Announcements & News
        </div>
        <div class="green_line"></div>
      </div>
      <div style="float: right;" class="text_link">
        View all
      </div>
      <div style="clear: both;"></div>
    </div>

    <div style="max-height: 410px;overflow: auto;">
      <div ng-repeat="announcement in announcements" style="border: 1px solid rgb(241, 240, 240);margin-top: 8px;padding: 12px 16px;">
        <div class="text_caption">
          {{announcement.date}}
        </div>
        <div style="font-size: 14px;line-height: 20px;color: rgb(58, 63, 66);padding-top: 5px;font-weight: 700;">
          {{announcement.title}}
        </div>
        <div style="font-size: 14px;line-height: 22px;color: rgb(112, 114, 116);padding-top: 12px;font-weight: 600;">
          {{announcement.content}}
        </div>
      </div>
    </div>
  </div>

  <div class="sec_column box-shadow-content" style="margin-top: 32px;height: 520px;padding: 24px;">
    Twiitter Feed Box
  </div>

  <div style="clear: both;"></div>
</div>



<div style="max-width: 966px;margin: auto;padding: 64px 8px 0px;overflow: auto;display: flex;">
  <div ng-repeat="magazine_url in magazine_urls" style="display: inline-block;" class="magazine_box">
    <img src="/images/magazine_bg.png" style="max-width: 178px;max-height: 226px;display: block;" />
    <div style="position: absolute;height: 100%;width: 100%;top: 0px;left: 0px;text-align: center;">
      <div class="vertical_middle"></div>
      <img ng-src="{{magazine_url}}" style="vertical-align: middle;display: inline-block;" />
    </div>
  </div>
</div>


<div style="margin-top: 80px;">
  <img src="/images/map.png" style="max-width: 100%;display: block;" />
  <div style="position: absolute;height: 100%;top: 0px;left: 0px;width: 100%;text-align: center;padding: 36px 70px;">
    <div style="font-weight: 700;color: #fff;line-height: 44px;font-size: 32px;float: left;">
      Alumni Chapters
    </div>
    <div class="ac_button" style="float: right;">
      Explore Network Online with Alums
    </div>
    <div style="clear: both;"></div>
  </div>
</div>
