$max-mobile-width: 960px;

$charcoalGrey: #3a3f42;
$coolGrey: #b6b9bb;
$battleshipGrey: #707274;
$rosyPink: #ef5d60;
$turquoise: #00c4b5;
$paleGrey: #eef0f2;
$lightGrey: #e7eceb;

$turquoise-light: rgba(0, 196, 181, 0.1);
$rosyPink-light: rgba(239, 93, 96, 0.1);
$darkSkyBlue-light: rgba(68, 190, 219, 0.1);
$sunflowerYellow-light: rgba(252, 217, 0, 0.15);
$sicklyYellow-light: rgba(203, 225, 79, 0.15);

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

body{
  line-height: 1.3em;
}

*{
  position: relative;
  @include box-sizing(border-box);
  font-family: 'Nunito Sans';
}


.bg-turquoise-light{
  background: $turquoise-light;
}
.bg-rosyPink-light{
  background: $rosyPink-light;
}
.bg-darkSkyBlue-light{
  background: $darkSkyBlue-light;
}
.bg-sunflowerYellow-light{
  background: $sunflowerYellow-light;
}
.bg-sicklyYellow-light{
  background: $sicklyYellow-light;
}


@mixin fixed{
  position: fixed;
  transform: translateZ(0);
}
.fixed{
  position: fixed;
  transform: translateZ(0);
}
input[type="checkbox"], input[type="radio"]{
  cursor: pointer;
  margin: 0px;
  position: relative;
  top: 2px;
}
.flex_box{
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
@mixin flex1{
  flex: 1 0 100%;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  -moz-flex: 1 0 100%;
}
@mixin flex2{
  flex: 1 0 50%;
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  -moz-flex: 1 0 50%;
}
@mixin flex3{
  flex: 1 0 33%;
  -webkit-flex: 1 0 33%;
  -ms-flex: 1 0 33%;
  -moz-flex: 1 0 33%;
}

.flex3{
  @include flex3;
}

.flex2{
  @include flex2;
}











// start: other common css
.ac_fb_button{
  color: #fff;
  position: relative;
  cursor: pointer;
  background: #4C5C80;
  padding: 12px 16px;
  border-radius: 3px;
  .p_text{
    padding: 0px 8px;
  }
  .p_icon{
    position: absolute;
    left: 16px;
    top: 14px;
  }
  &:hover{
    background: #3e4d71;
  }
}
.ac_ln_button{
  color: #fff;
  position: relative;
  cursor: pointer;
  background: #0085AE;
  padding: 12px 16px;
  border-radius: 3px;
  .p_text{
    padding: 0px 8px;
  }
  .p_icon{
    position: absolute;
    left: 16px;
    top: 14px;
  }
  &:hover{
    background: #006e90;
  }
}

.ac_tw_button{
  color: #fff;
  position: relative;
  cursor: pointer;
  background: #1dcaff;
  padding: 12px 16px;
  border-radius: 3px;
  .p_text{
    padding: 0px 8px;
  }
  .p_icon{
    position: absolute;
    left: 16px;
    top: 14px;
  }
  &:hover{
    background: #00aced;
  }
}

.ac_insta_button{
  color: #fff;
  position: relative;
  cursor: pointer;
  background: #e33b51;
  padding: 12px 16px;
  border-radius: 3px;
  .p_text{
    padding: 0px 8px;
  }
  .p_icon{
    position: absolute;
    left: 16px;
    top: 14px;
  }
  &:hover{
    background: #e33b51;
  }
}
@keyframes loader-box-1 {
  0% {opacity: 0.33}
  33% {opacity: 1}
  66% {opacity: 0.66}
  100% {opacity: 0.33}
}

@keyframes loader-box-2 {
  0% {opacity: 0.66}
  33% {opacity: 0.33}
  66% {opacity: 1}
  100% {opacity: 0.66}
}

@keyframes loader-box-3 {
  0% {opacity: 1}
  33% {opacity: 0.66}
  66% {opacity: 0.33}
  100% {opacity: 1}
}

@mixin loader_box($size, $color) {
  .loader-box{
    height: $size;
    width: $size;
    background-color: $color;
    float: left;
    &.loader_box1{
      animation-name: loader-box-1;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
    &.loader_box2{
      margin: 0px $size;
      animation-name: loader-box-2;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
    &.loader_box3{
      animation-name: loader-box-3;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
}

.loader-green4{
  @include loader_box(4px, #00c4b5);
}
.loader-white4 {
  @include loader_box(4px, #FFF);
}

.loader-white16 {
  @include loader_box(16px, #FFF);
}

.hidden_text{
  visibility: hidden;
}

.ac_button{
  border-radius:3px;
  color: #fff;
  background: #00c4b5;
  padding: 8px 24px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  border: none;
  &:hover{
    background: #00a99c;
    cursor: pointer;
  }
  &:disabled, &.disabled, &[disabled='disabled']{
    background: #acc4bf;
    opacity:0.2;
    cursor: default;
  }
}

.ac_button_small{
  border-radius:3px;
  color: #fff;
  background: #00c4b5;
  padding: 8px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  border: none;
  &:hover{
    background: #00a99c;
    cursor: pointer;
  }
  &:disabled, &.disabled{
    background: #acc4bf;
    opacity:0.2;
    cursor: default;
  }
}

.ac_sec_button{
  font-weight: 700;
  color: #00bfa9;
  background: #fff;
  padding: 8px 24px;
  line-height: 1.3em;
  text-align: center;
  border: 1px solid rgba(0,196,181,0.3);
  font-size: 14px;
  border-radius: 3px;
  &:hover{
    background: #f3fff8;
    cursor: pointer;
  }
  &:disabled{
    border:1px solid #acc4bf;
    color:#acc4bf;
    cursor: default;
  }
}

.ac_sec_button_small{
  font-weight: 700;
  color: #00bfa9;
  padding: 8px;
  line-height: 1.3em;
  text-align: center;
  border: 1px solid rgba(0,196,181,0.3);
  font-size: 12px;
  border-radius: 3px;
  &:hover{
    background: #f3fff8;
    cursor: pointer;
  }
  &:disabled{
    border:1px solid #acc4bf;
    color:#acc4bf;
    cursor: default;
  }
}

.ac_button_large{
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius:3px;
  background: #00c4b5;
  text-transform: capitalize;
  text-align: center;
  border: none;
  padding: 12px 104px;
  &:hover{
    background: #00a99c;
    cursor: pointer;
  }
  &:disabled, &.disabled{
    background: #acc4bf;
    opacity:0.2;
    cursor: default;
  }
}

.sec_button{
  text-transform: uppercase;
  color: #00bfa9;
  background: #fff;
  padding: 7px 15px;
  line-height: 1.3em;
  text-align: center;
  border: 1px solid #00bfa9;
  font-weight: 700;
  font-size: 13px;
  &:hover{
    background: #f3fff8;
    cursor: pointer;
  }
  &:disabled{
    border:1px solid #acc4bf;
    color:#acc4bf;
    cursor: default;
  }
}

.button_text{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  padding: 12px 16px;
  line-height: 1.3em;
  &:hover{
    text-decoration: underline;
  }
  &:disabled{
    color: #acc4bf;
  }
}


.link_text{
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}
.ac_link{
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

.light_45{
  font-weight: 300;
  font-size: 45px;
}
.regular_24{
  font-weight: 500;
  font-size: 24px;
}
.regular_20{
  font-weight: 500;
  font-size: 20px;
}
.semibold_16{
  font-weight: 600;
  font-size: 16px;
}
.semibold_15{
  font-weight: 600;
  font-size: 15px;
}
.regular_13{
  font-weight: 500;
  font-size: 13px;
}
.semibold{
  font-weight: 600;
}
.bold{
  font-weight: 700;
}
.semibold_13{
  font-weight: 600;
  font-size: 13px;
}
.bold_13{
  font-weight: 700;
  font-size: 13px;
}
.bold_16{
  font-weight: 700;
  font-size: 16px;
}
.semibold_12{
  font-weight: 600;
  font-size: 12px;
}
.regular_14{
  font-weight: 500;
  font-size: 14px;
}
.semibold_14{
  font-weight: 600;
  font-size: 14px;
}
.regular_12{
  font-weight: 500;
  font-size: 12px;
}
.bold_12{
  font-weight: 700;
  font-size: 12px;
}
.bold_14{
  font-weight: 700;
  font-size: 14px;
}
.black{
  color: #000;
}
.grey{
  color: #333;
}
.light_grey{
  color: #999;
}
.bg_green{
  background: #00b69a;
}
.tc_green{
  color: #00b69a;
}
.bg_green_focus{
  background: #1a8772;
}
.tc_green_focus{
  color: #1a8772;
}
.bg_light{
  background: #f3fff8;
}
.bg_purple{
  background: #4c5c80;
}
.tc_purple{
  color: #4c5c80;
}
.tc_light{
  color: #f3fff8;
}
.tc_hint{
  color: #acc4bf;
}
.bg_hint{
  color: #acc4bf;
}


.hidden{
  display: none !important;
}
.display{
  display: block !important;
}


.hide_below_720{
  @media screen and (max-width: 720px) {
    display:none;
  }
}
.hide_above_720{
  @media screen and (min-width: 720px) {
    display:none;
  }
}

.hide_below_560{
  @media screen and (max-width: 560px) {
    display:none;
  }
}
.hide_above_560{
  @media screen and (min-width: 560px) {
    display:none;
  }
}

.hide_below_960{
  @media screen and (max-width: 960px) {
    display:none;
  }
}

.tabbed_nav_container{
  display: flex;
  width: 100%;
}

.tabbed_nav{
  text-align:center;
  width:100%;
  cursor: pointer;
  &.active{
    border-bottom: 3px solid #00bfa9;
  }
  &.inactive{
    border-bottom: 1px solid #dff7e8;
  }
}

.movable{
  -webkit-transform: translateZ(0);
}
.dd_layer{
  position: fixed;width: 100%;height: 100%;left: 0px;top: 0px;
}
// end: other common css

.icon-error-msg{
  &:before{
    content: "";
    border-color: rgba(192, 227, 207, 0) rgba(192, 227, 207, 0) #cc0000;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: -20px;
    left: 25px;
  }
  &:after{
    content: "";
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #FFFFFF;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: -19px;
    left: 25px;
  }
}

.file_upload_box{
  @include box-sizing('border-box');
  position: relative;
  float: left;
  overflow: hidden;
  display: block;
  cursor: pointer;
  input[type='file']{
    position: absolute;
    opacity: 0;
    top: 0px;
    right: 0px;
    cursor: pointer;
    font-size: 35px;
    height: 100%;
  }
}

.futura{
  font-family: 'FuturaW02-MediumCondens';
}

.box-shadow-menu{
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.08);
}

.box-shadow-content{
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
  border-radius: 3px;
}





.text_title{
  font-weight: 700;
  font-size: 18px;
  color: $charcoalGrey;
}

.text_title_small{
  font-weight: 700;
  font-size: 16px;
  color: $charcoalGrey;
}

.text_heading_light{
  font-weight: 700;
  font-size: 14px;
  color: $coolGrey;
}

.text_heading{
  font-weight: 700;
  font-size: 14px;
  color: $charcoalGrey;
}

.text_body{
  font-weight: 600;
  font-size: 14px;
  color: $charcoalGrey;
  a{
    @extend .text_body_link;
  }
}
.text_body_link{
  font-weight: 500;
  font-size: 14px;
  color: $turquoise;
}

.text_body_big{
  font-weight: 500;
  font-size: 16px;
  color: $charcoalGrey;
  a{
    @extend .text_body_big_link;
  }
}

.text_body_big_link{
  font-weight: 500;
  font-size: 16px;
  color: $turquoise;
}

.text_body_placeholder{
  font-weight: 600;
  font-size: 14px;
  color: $coolGrey;
}
.text_body_light{
  font-weight: 600;
  font-size: 14px;
  color: $battleshipGrey;
}
.text_caption{
  font-weight: 600;
  font-size: 12px;
  color: $battleshipGrey;
}
.text_caption_dark{
  font-weight: 700;
  font-size: 12px;
  color: $charcoalGrey;
}
.text_caption_light{
  font-weight: 600;
  font-size: 12px;
  color: $coolGrey;
}
.text_caption_small{
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: $coolGrey;
}

.text_link{
  font-weight: 700;
  font-size: 12px;
  color: $turquoise;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

.text_link_big{
  @extend .text_link;
  font-weight: 600;
  font-size: 14px;
}

.text_error{
  font-weight: 600;
  font-size: 12px;
  color: $rosyPink;
}

.text_success{
  font-weight: 600;
  font-size: 12px;
  color: #00bfa9;
}




@mixin placeholder {
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    @content;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @content;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    @content;
  }
}

@mixin ac-placeholder {
  @include placeholder {
    color: $coolGrey;
  }
  &:focus{
    @include placeholder {
      color: transparent;
    }
  }
}

.ac_input_box{
  position: relative;
  padding: 8px 0px;
  .ac_input_label{
    @extend .text_caption_light;
    position: absolute;
    top: -20px;
    left: 0px;
    width: 100%;
    text-align: left;
  }
  .ac_input_label_dummy{
    @extend .text_caption_light;
    padding-bottom: 4px;
    opacity: 0;
    width: 100%;
  }
  .mentions{
    div{
      padding: 8px;
      border: 1px solid #fff;
    }
    @extend .text_body;
    width: 100%;
  }
  input[type='text'], input[type='password'], input[type='number'], textarea, select, .selected_token, .token-input-token, .chosen-choices{
    display: block;
    @extend .text_body;
    border: 1px solid $coolGrey;
    width: 100%;
    padding: 8px;
    background: #fff;
    border-radius: 3px;
    @include ac-placeholder();
    &:focus{
      border: 1px solid $battleshipGrey;
      ~ .ac_input_label{
        @extend .text_caption;
      }
    }
    &.loading{
      padding-right: 36px;

    }
    &:disabled, &.disabled, &[disabled='disabled']{
      background-color: #fff;
    }
  }
  .mentions ~ textarea{
    background: transparent;
  }
  select{
    background: image-url('dropdown.png') no-repeat right;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    &:disabled, &.disabled, &[disabled='disabled']{
      background-color: #fff;
    }
  }
  select.unselected{
    @extend .text_body_placeholder;
    option{
      @extend .text_body;
    }
  }
  &.ac_input_error{
    input[type='text'], input[type='password'], textarea, select{
      border: 1px solid #ef5d60;
    }
  }
  .ac_helper_message{
    @extend .text_caption_light;
    padding-top: 4px;
  }
  textarea{
    max-height: 200px;
    min-height: 100px;
  }
}

.ac_compact_input_box{
  @extend .ac_input_box;
  padding: 0px;
}

.borderless_input{
  .mentions > div{
    padding: 0px;
    border: none;
  }

  input[type='text'], input[type='password'], input[type='number'], textarea, select, .token-input-token{
    border: none;
    padding: 0px;
    &:focus{
      border: none;
    }
  }
}

.ac_error_message{
  @extend .text_error;
  padding-top: 4px;
  text-align: left;
}

.ac_input_checkbox{
  padding: 4px 0px;
  label{
    display: block;
  }
  .label{
    @extend .text_body;
    padding-left: 8px;
    vertical-align: top;
    display: block;
    width: calc(100% - 16px);
    float: left;
  }
  input[type='checkbox']{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    ~ .checkbox{
      float: left;
      height: 16px;
      width: 16px;
      margin: 1px 0px;
      background: $paleGrey;
      display: inline-block;
      vertical-align: top;
      position: relative;
      border: 1px solid rgba(58,63,66,0.25);
      border-radius: 1px;
      transition: all 0.8s ease;
      .tick{
        display: none;
      }
    }
    &:checked{
      ~ .checkbox{
        background: $turquoise;
        border: none;
        .tick{
          display: block;
          position: absolute;
          color: #fff;
          font-size: 16px;
          top: -6px;
          left: 2px;
        }
      }
    }
    &:disabled{
      ~ .checkbox{
        opacity: 0.3;
      }
    }
  }
}
.ac_input_radio{
  padding: 4px 0px;
  .label{
    @extend .text_body;
    padding-left: 8px;
    vertical-align: top;
    display: block;
    width: calc(100% - 16px);
    float: left;
  }
  input[type='radio']{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    ~ .radio{
      float: left;
      height: 16px;
      width: 16px;
      margin: 1px 0px;
      background: $paleGrey;
      display: inline-block;
      vertical-align: top;
      position: relative;
      border: 1px solid rgba(58,63,66,0.25);
      border-radius: 8px;
      transition: all 0.8s ease;
    }
    &:checked{
      ~ .radio{
        border: 1px solid $turquoise;
        .inner_radio{
          position: absolute;
          height: 10px;
          width: 10px;
          background: $turquoise;
          border-radius: 5px;
          top: 2px;
          left: 2px;
        }
      }
    }
    &:disabled{
      ~ .radio{
        opacity: 0.3;
      }
    }
  }
}
.ac_search_box{
  @extend .ac_input_box;
  input[type='text'], input[type='number'], textarea, select, .token-input-token, .selected_token{
    padding: 5px;
    padding-left: 28px;
  }
  &.expandable{
    input[type='text'], input[type='number'], textarea, select, .token-input-token{
      max-width: 110px;
      width: 100%;
      transition: max-width 0.8s ease;
      &:focus{
        max-width: 180px;
      }
    }
  }
}

.ac_search_lens{
  font-size: 16px;
  color: #bbb;
  position: absolute;
  top: 8px;
  left: 8px;
}

.ac_large_search_box{
  @extend .ac_input_box;
  input[type='text'], input[type='number'], textarea, select, .token-input-token, .selected_token{
    padding: 5px;
    padding-left: 72px;
    border: none;
    line-height: 70px;
    font-size: 18px;
    &:focus{
      border: none;
    }
  }
  .selected_token{
    padding: 5px 24px;
  }
  .ac_search_lens{
    font-size: 32px;
    color: #bbb;
    position: absolute;
    top: 24px;
    left: 24px;
  }
}

.green_line{
  background: #00bfa9;
  height: 2px;
  width: 16px;
  margin: 8px 0px;
}
.green_circle{
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: $turquoise;
  margin-right: 8px;
  float: left;
}

$page-width: 1198px;
$nav-sidebar-width: 202px;
$main-column-width: 924px;
$inner-main-column-width: 580px;
$inner-secondary-column-width: 320px;
$column-spacing: 24px;

.page_layout{
  max-width: $page-width;
  margin: auto;
  padding: 0px 24px;
  .main_column{
    width: 100%;
    max-width: $main-column-width;
    margin: auto;
    .inner_main_column{
      width: 100%;
      max-width: $inner-main-column-width;
      margin: auto;
    }
    .inner_sec_column_copy{
      display: block;
      @media screen and (min-width: $main-column-width) {
        display: none;
      }
    }
    .inner_sec_column{
      float: right;
      width: $inner-secondary-column-width;
      margin-left: $column-spacing;
      display: none;
      @media screen and (min-width: $main-column-width) {
        display: block;
        ~ .inner_main_column{
          float: left;
          width: calc(100% - #{$inner-secondary-column-width} - #{$column-spacing});
        }
      }
    }
  }
  .nav_sidebar{
    float: left;
    width: $nav-sidebar-width;
    margin-right: $column-spacing;
    display: none;
    @media screen and (min-width: $page-width) {
      display: block;
      ~ .main_column{
        float: left;
        width: calc(100% - #{$nav-sidebar-width} - #{$column-spacing});
      }
    }
  }
  @media screen and (max-width: $main-column-width) {
    padding:0px;
  }
}

.vertical_middle{
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.bg_sickly_yellow{
  background: rgb(203, 225, 79);
}
.bg_dark_sky_blue{
  background: rgb(68, 190, 219);
}
.bg_sunflower_yellow{
  background: rgb(252, 217, 0);
}


.ac_message{
  font-weight: 600;
  font-size: 12px;
  position: relative;top: 0px;width: 100%;
  text-align: left;left: 0px;
  border-radius: 3px;
  .success{
    color: $battleshipGrey;
    background: #f5f9dc;
    border: 1px solid #e8f1b1;
    padding: 8px 16px;
    max-width: 500px;
    margin: auto;
  }
  .error{
    color: #ef5d60;
    background: #fdeeef;
    border: 1px solid #ef5d60;
    padding: 8px 16px;
    max-width: 500px;
    margin: auto;
  }
}


.bg_cover{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg_contain{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bx-next{
  @extend .bg_cover;
  background-image: image-url('next.png');
  width: 25px;background-color: rgb(255, 255, 255);height: 25px;
  display: block;
}

.bx-prev{
  @extend .bg_cover;
  background-image: image-url('previous.png');
  width: 25px;background-color: rgb(255, 255, 255);height: 25px;
  display: block;
}

.single_user{
  .small_container{
    .user_info{
      width: calc(100% - 24px);
    }
    .small_container_hide{
      display: none;
    }
    .large_container_hide{
      display: inline-block;
    }
  }
  .user_info{
    float: left;
    width: calc(100% - 72px);
  }
  .large_container_hide{
    display: none;
  }
}
