$charcoalGrey: #3a3f42;
$coolGrey: #b6b9bb;
$turquoise: #00c4b5;
$battleshipGrey: #707274;
$rosyPink: #ef5d60;
$paleGrey: #eef0f2;

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

body{
  line-height: 1.3em;
}

*{
  position: relative;
  @include box-sizing(border-box);
  font-family: 'Nunito Sans';
}

.ac_dropdown {
  position: absolute;
  background: white;
  width: 100%;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding:8px 0px;
  .title{
    font-size: 13px;
    font-weight: 600;
    color: #000;
    padding: 8px 16px;
    border-bottom: 1px solid #acc4bf;
  }
  .dd_item{
    font-size: 13px;
    cursor: pointer;
    padding:8px 16px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    &:hover{
      background: #e7eceb;
    }
  }
}



.flex_box{
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

@keyframes loader-box-1 {
  0% {opacity: 0.33}
  33% {opacity: 1}
  66% {opacity: 0.66}
  100% {opacity: 0.33}
}

@keyframes loader-box-2 {
  0% {opacity: 0.66}
  33% {opacity: 0.33}
  66% {opacity: 1}
  100% {opacity: 0.66}
}

@keyframes loader-box-3 {
  0% {opacity: 1}
  33% {opacity: 0.66}
  66% {opacity: 0.33}
  100% {opacity: 1}
}

@mixin loader_box($size, $color) {
  .loader-box{
    height: $size;
    width: $size;
    background-color: $color;
    float: left;
    &.loader_box1{
      animation-name: loader-box-1;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
    &.loader_box2{
      margin: 0px $size;
      animation-name: loader-box-2;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
    &.loader_box3{
      animation-name: loader-box-3;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
}

.loader-green4{
  @include loader_box(4px, #00c4b5);
}
.loader-white4 {
  @include loader_box(4px, #FFF);
}

.loader-white16 {
  @include loader_box(16px, #FFF);
}

.ac_button{
  border-radius:3px;
  color: #fff;
  background: #00c4b5;
  padding: 8px 24px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  border: none;
  &:hover{
    background: #00a99c;
    cursor: pointer;
  }
  &:disabled, &.disabled, &[disabled='disabled']{
    background: #acc4bf;
    opacity:0.2;
    cursor: default;
  }
}

.ac_button_small{
  border-radius:3px;
  color: #fff;
  background: #00c4b5;
  padding: 8px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  border: none;
  &:hover{
    background: #00a99c;
    cursor: pointer;
  }
  &:disabled, &.disabled{
    background: #acc4bf;
    opacity:0.2;
    cursor: default;
  }
}

.ac_link{
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

.dd_layer{
  position: fixed;width: 100%;height: 100%;left: 0px;top: 0px;
}

.box-shadow-content{
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.text_title{
  font-weight: 700;
  font-size: 18px;
  color: $charcoalGrey;
}

.text_title_small{
  font-weight: 700;
  font-size: 16px;
  color: $charcoalGrey;
}

.text_heading_light{
  font-weight: 700;
  font-size: 14px;
  color: $coolGrey;
}

.text_heading{
  font-weight: 700;
  font-size: 14px;
  color: $charcoalGrey;
}

.text_body{
  font-weight: 600;
  font-size: 14px;
  color: $charcoalGrey;
  a{
    @extend .text_body_link;
  }
}
.text_body_link{
  font-weight: 500;
  font-size: 14px;
  color: $turquoise;
}

.text_body_big{
  font-weight: 500;
  font-size: 16px;
  color: $charcoalGrey;
  a{
    @extend .text_body_big_link;
  }
}

.text_body_big_link{
  font-weight: 500;
  font-size: 16px;
  color: $turquoise;
}

.text_body_placeholder{
  font-weight: 600;
  font-size: 14px;
  color: $coolGrey;
}
.text_body_light{
  font-weight: 600;
  font-size: 14px;
  color: $battleshipGrey;
}
.text_caption{
  font-weight: 600;
  font-size: 12px;
  color: $battleshipGrey;
}
.text_caption_dark{
  font-weight: 700;
  font-size: 12px;
  color: $charcoalGrey;
}
.text_caption_light{
  font-weight: 600;
  font-size: 12px;
  color: $coolGrey;
}
.text_caption_small{
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: $coolGrey;
}

.text_link{
  font-weight: 700;
  font-size: 12px;
  color: $turquoise;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

.text_link_big{
  @extend .text_link;
  font-weight: 600;
  font-size: 14px;
}

.text_error{
  font-weight: 600;
  font-size: 12px;
  color: $rosyPink;
}

.text_success{
  font-weight: 600;
  font-size: 12px;
  color: #00bfa9;
}




@mixin placeholder {
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    @content;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @content;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    @content;
  }
}

@mixin ac-placeholder {
  @include placeholder {
    color: $coolGrey;
  }
  &:focus{
    @include placeholder {
      color: transparent;
    }
  }
}

.ac_input_box{
  position: relative;
  padding: 8px 0px;
  .ac_input_label{
    @extend .text_caption_light;
    position: absolute;
    top: -20px;
    left: 0px;
    width: 100%;
    text-align: left;
  }
  .ac_input_label_dummy{
    @extend .text_caption_light;
    padding-bottom: 4px;
    opacity: 0;
    width: 100%;
  }
  .mentions{
    div{
      padding: 8px;
      border: 1px solid #fff;
    }
    @extend .text_body;
    width: 100%;
  }
  input[type='text'], input[type='password'], input[type='number'], textarea, select, .selected_token, .token-input-token, .chosen-choices{
    display: block;
    @extend .text_body;
    border: 1px solid $coolGrey;
    width: 100%;
    padding: 8px;
    background: #fff;
    border-radius: 3px;
    @include ac-placeholder();
    &:focus{
      border: 1px solid $battleshipGrey;
      ~ .ac_input_label{
        @extend .text_caption;
      }
    }
    &.loading{
      padding-right: 36px;

    }
    &:disabled, &.disabled, &[disabled='disabled']{
      background-color: #fff;
    }
  }
  .mentions ~ textarea{
    background: transparent;
  }
  select{
    background: image-url('dropdown.png') no-repeat right;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    &:disabled, &.disabled, &[disabled='disabled']{
      background-color: #fff;
    }
  }
  select.unselected{
    @extend .text_body_placeholder;
    option{
      @extend .text_body;
    }
  }
  &.ac_input_error{
    input[type='text'], input[type='password'], textarea, select{
      border: 1px solid #ef5d60;
    }
  }
  .ac_helper_message{
    @extend .text_caption_light;
    padding-top: 4px;
  }
  textarea{
    max-height: 200px;
    min-height: 100px;
  }
}

.ac_compact_input_box{
  @extend .ac_input_box;
  padding: 0px;
}

.borderless_input{
  .mentions > div{
    padding: 0px;
    border: none;
  }

  input[type='text'], input[type='password'], input[type='number'], textarea, select, .token-input-token{
    border: none;
    padding: 0px;
    &:focus{
      border: none;
    }
  }
}

.ac_error_message{
  @extend .text_error;
  padding-top: 4px;
  text-align: left;
}

.ac_input_checkbox{
  padding: 4px 0px;
  label{
    display: block;
  }
  .label{
    @extend .text_body;
    padding-left: 8px;
    vertical-align: top;
    display: block;
    width: calc(100% - 16px);
    float: left;
  }
  input[type='checkbox']{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    ~ .checkbox{
      float: left;
      height: 16px;
      width: 16px;
      margin: 1px 0px;
      background: $paleGrey;
      display: inline-block;
      vertical-align: top;
      position: relative;
      border: 1px solid rgba(58,63,66,0.25);
      border-radius: 1px;
      transition: all 0.8s ease;
      .tick{
        display: none;
      }
    }
    &:checked{
      ~ .checkbox{
        background: $turquoise;
        border: none;
        .tick{
          display: block;
          position: absolute;
          color: #fff;
          font-size: 16px;
          top: -6px;
          left: 2px;
        }
      }
    }
    &:disabled{
      ~ .checkbox{
        opacity: 0.3;
      }
    }
  }
}
.ac_input_radio{
  padding: 4px 0px;
  .label{
    @extend .text_body;
    padding-left: 8px;
    vertical-align: top;
    display: block;
    width: calc(100% - 16px);
    float: left;
  }
  input[type='radio']{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    ~ .radio{
      float: left;
      height: 16px;
      width: 16px;
      margin: 1px 0px;
      background: $paleGrey;
      display: inline-block;
      vertical-align: top;
      position: relative;
      border: 1px solid rgba(58,63,66,0.25);
      border-radius: 8px;
      transition: all 0.8s ease;
    }
    &:checked{
      ~ .radio{
        border: 1px solid $turquoise;
        .inner_radio{
          position: absolute;
          height: 10px;
          width: 10px;
          background: $turquoise;
          border-radius: 5px;
          top: 2px;
          left: 2px;
        }
      }
    }
    &:disabled{
      ~ .radio{
        opacity: 0.3;
      }
    }
  }
}
.ac_search_box{
  @extend .ac_input_box;
  input[type='text'], input[type='number'], textarea, select, .token-input-token, .selected_token{
    padding: 5px;
    padding-left: 28px;
  }
  &.expandable{
    input[type='text'], input[type='number'], textarea, select, .token-input-token{
      max-width: 110px;
      width: 100%;
      transition: max-width 0.8s ease;
      &:focus{
        max-width: 180px;
      }
    }
  }
}

.ac_search_lens{
  font-size: 16px;
  color: #bbb;
  position: absolute;
  top: 8px;
  left: 8px;
}

.ac_large_search_box{
  @extend .ac_input_box;
  input[type='text'], input[type='number'], textarea, select, .token-input-token, .selected_token{
    padding: 5px;
    padding-left: 72px;
    border: none;
    line-height: 70px;
    font-size: 18px;
    &:focus{
      border: none;
    }
  }
  .selected_token{
    padding: 5px 24px;
  }
  .ac_search_lens{
    font-size: 32px;
    color: #bbb;
    position: absolute;
    top: 24px;
    left: 24px;
  }
}

.green_line{
  background: #00bfa9;
  height: 2px;
  width: 16px;
  margin: 8px 0px;
}

.vertical_middle{
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}


.bg_cover{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg_contain{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
