.text1{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  padding-top: 26px;
  @media screen and (max-width: 500px) {
    padding-top: 16px;
    font-size: 18px;
  }
}

.text2{
  font-size: 24px;
  color: #b6b9bb;
  line-height: 1.37em;
  @media screen and (max-width: 500px) {
    font-size: 18px;
  }
}
.text3{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #b6b9bb;
  @media screen and (max-width: 500px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.main_column{
  width: calc(100% - 350px);
  float: left;
  @media screen and (max-width: 668px) {
    float: none;
    margin: auto;
    width: 100%;
  }

}
.sec_column{
  width: 318px;
  margin-left: 32px;
  float: left;
  @media screen and (max-width: 668px) {
    float: none;
    margin: auto;
    width: 100%;
  }
}

.magazine_box{
  margin-right: 70px;
  &:last-child{
    margin-right: 0px;
  }
}

.hide_below_1120{
  @media screen and (max-width: 1120px) {
    display: none;
  }
}

.show_below_1120{
  display: none;
  @media screen and (max-width: 1120px) {
    display: block;
  }
}

.hide_below_610{
  @media screen and (max-width: 610px) {
    display: none;
  }
}

.show_below_610{
  display: none;
  @media screen and (max-width: 610px) {
    display: block;
  }
}
