body{
  font-family: "Open Sans",Arial,sans-serif;
}
table, th, td {
  border: 1px solid #bbb;
  border-collapse: collapse;
  font-size: 13px;
  color: #333;
}
thead{
  background: #eee;
}
td{
  padding: 5px;
}
a{
  text-decoration: none;
}
ul{
  padding: 0px;
}
.flexslider{
  position: relative;
}

.bx-pager.bx-default-pager{
  display: none;
}
.announcement_flexslider, .ec_flexslider{
  position: relative;
  .flex-direction-nav{
    display: none;
  }
  .flex-control-nav.flex-control-paging{
    bottom: 0px;
  }
  .flex-control-paging li a.flex-active{
    background: #bbb;
  }
  .flex-control-paging li a{
    background: #00bfa9;
  }
}
.notable_info{
  position: absolute;bottom: 0px;color: #fff;padding: 10px;background: rgba(0,0,0,0.4);width: 100%;
  box-sizing: border-box;
}
.username{
  font-family: 'FuturaW02-MediumCondens';
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
.designation{
  font-family: 'FuturaW02-MediumCondens';
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
.userbatch{
  font-family: 'FuturaW02-MediumCondens';
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-size: 14px;
}
.bx-wrapper{
  margin: 0px !important;
}
.bx-wrapper .bx-controls-direction{
  .bx-prev{
    background-image: url('/images/arrow-left.png');
    width: 43px;
    height: 43px;
    display: block;
    position: absolute;
    top: 100px;
    left: -65px;
    z-index: 6;
    background-color: #abc4bf;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .bx-next{
    background-image: url('/images/arrow-right.png');
    width: 43px;
    height: 43px;
    display: block;
    position: absolute;
    top: 100px;
    right: -65px;
    z-index: 6;
    background-color: #abc4bf;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
  }
}
.signup_link{
  color: #fff;background: #4c5c80;padding: 7px 10px;text-transform: uppercase;
  margin: 5px 10px;display: block;float: left;
  font-size: 13px;font-weight: 600;
}
.twelve.colors_bg_top {
  margin: 0 auto;
  max-width: 1200px;
}

.colors_bg_top span {
  height: 6px;
  float: left;
  &.green {
    background: #cbdf5a;
    width: 16%;
  }
  &.red {
    background: #e33b52;
    width: 22%;
  }
  &.yellow {
    background: #fbd721;
    width: 20%;
  }


  &.blue {
    background: #4bbed9;
    width: 22%;
  }
  &.orange {
    background: #fa5c37;
    width: 20%;
  }
}

.menu_wrapper{
  background: #00bfa9;
  .menu_item{
    color: #fff;
    border-right: 1px solid #3cc8b1;
    float: left;
    padding: 10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    display: block;
    &.selected{
      background: #4c5c80;
    }
    &:hover{
      background: #4c5c80;
    }
  }
}
.iitr_tab{
  border-bottom: 1px solid #bbb;cursor: pointer;
  .tab_text{
    float: left;padding: 12px 10px;width: 170px;text-transform: uppercase;color: #00bfa9;font-size: 14px;
  }
  .tab_icon{
    float: right;border-bottom: 20px solid transparent;border-left: 20px solid #4c5c80;border-top: 20px solid transparent;
    display: none;
  }
  &.selected{
    .tab_icon{
      display: block;
    }
    .tab_text{
      color: #fff;
      background: #4c5c80;
    }
  }
}

select{
  color: #fff;
  background-color: #00bfa9;
  text-transform: uppercase;
  option{
    background: #fff;
    color: #333;
    text-transform: none;
  }
}

.fileInput {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 35px;
  opacity: 0;
  filter: alpha(opacity="0");
}
.inputwrapper {
  float: left;
  position: relative;
  overflow: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4c5c80;
  width: 242px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0px;
  top: 36px;
  font-size: 15px;
  text-align: left;
}
.dropdown-link {
  padding: 8px 16px;
  color:#fff;
  &:hover{
    background:#343e4c;
  }
}

.dropdown:hover .dropdown-content {
    display: block;
}
