.text1{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  padding-top: 26px;
  @media screen and (max-width: 500px) {
    padding-top: 16px;
    font-size: 18px;
  }
}

.text2{
  font-size: 24px;
  color: #b6b9bb;
  line-height: 1.37em;
  @media screen and (max-width: 500px) {
    font-size: 18px;
  }
}
.text3{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #b6b9bb;
  @media screen and (max-width: 500px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.main_column{
  width: calc(100% - 350px);
  float: left;
  @media screen and (max-width: 668px) {
    float: none;
    margin: auto;
    width: 100%;
  }

}
.sec_column{
  width: 318px;
  margin-left: 32px;
  float: left;
  @media screen and (max-width: 668px) {
    float: none;
    margin: auto;
    width: 100%;
  }
}
.padding_for_mobile{
  @media screen and (max-width: 668px) {
    padding: 0px 24px;
  }
}

.magazine_box{
  margin-right: 70px;
  &:last-child{
    margin-right: 0px;
  }
}

.donation_box{
  margin-right: 70px;
  min-width: 500px;
  &:last-child{
    margin-right: 0px;
  }
  @media screen and (max-width: 550px) {
    min-width: 350px;
  }
  @media screen and (max-width: 450px) {
    min-width: 300px;
  }
}

.contacts_tab{
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #b6b9bb;
  margin-right: 48px;
  padding-bottom: 15px;
  cursor: pointer;
  &:last-child{
    margin-right: 0px;
  }
  &.selected{
    color: #3a3f42;
    border-bottom: 3px solid #00c4b5;
  }
}

.hide_below_1120{
  @media screen and (max-width: 1120px) {
    display: none;
  }
}

.show_below_1120{
  display: none;
  @media screen and (max-width: 1120px) {
    display: block;
  }
}

.hide_below_610{
  @media screen and (max-width: 610px) {
    display: none;
  }
}

.show_below_610{
  display: none;
  @media screen and (max-width: 610px) {
    display: block;
  }
}
